.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
}

table  {
  border: 1px solid;
  width: 50%;
  align-self: center;
}

th, td {
  border: 1px dotted;
  border-radius: 5px;
  text-align: center;
}

th {
  background-color: aquamarine;
}

tr:nth-child(even) {
  background-color: chartreuse;
}

tr:hover {
  background-color: crimson;
  color: azure;
}

caption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: larger;
  color: brown;
  margin: 10px;
  text-decoration: underline;
}
